This notebook is for the exploration of the numpy busday

In [55]:
import numpy as np
import pandas as pd

In [56]:
#variables
startDate = '2025-12-22'
endDate = '2025-12-31'
weekdays_active = "Mon Tue Wed Thu Fri"
holidays = ['2025-12-24', '2025-12-25', '2025-12-30']

In [57]:
#busdaycount example
num_bus_days = np.busday_count(startDate, endDate, weekmask=weekdays_active, holidays=holidays)
print(f"Number of business days between {startDate} and {endDate} is {num_bus_days}")

Number of business days between 2025-12-22 and 2025-12-31 is 4

In [58]:
#busday_count but using busdaycalendar
busDays = np.busdaycalendar(weekmask=weekdays_active, holidays=holidays)
cal_bus_days = np.busday_count(startDate, endDate, busdaycal=busDays)
print(f"Number of business days between {startDate} and {endDate} using busdaycalendar is {cal_bus_days}")

Number of business days between 2025-12-22 and 2025-12-31 using busdaycalendar is 4

In [59]:
#generating the date series using pandas
date_range = pd.date_range(start=startDate, end=endDate, freq='D') #this will return an index
date_range = date_range.values.astype('datetime64[D]') #convert to numpy array of datetime64[D]
type(date_range)

numpy.ndarray

In [60]:
#determin if the range of dates are business days
busDayArray = np.is_busday(date_range, busdaycal=busDays)
print(busDayArray)

[ True  True False False  True False False  True False  True]

In [61]:
#what is the type?
type(busDayArray)

numpy.ndarray

In [62]:
#creating a dataframe
df_holidays = pd.DataFrame({'Dates':date_range, "Is a Business Day": busDayArray})
df_holidays

       Dates  Is a Business Day
0 2025-12-22               True
1 2025-12-23               True
2 2025-12-24              False
3 2025-12-25              False
4 2025-12-26               True
5 2025-12-27              False
6 2025-12-28              False
7 2025-12-29               True
8 2025-12-30              False
9 2025-12-31               True

In [63]:
#adding another column where the boolean column is converted into 1s and 0s
df_holidays['Is a Business Day_int'] = df_holidays['Is a Business Day'].astype(int)
df_holidays

       Dates  Is a Business Day  Is a Business Day_int
0 2025-12-22               True                      1
1 2025-12-23               True                      1
2 2025-12-24              False                      0
3 2025-12-25              False                      0
4 2025-12-26               True                      1
5 2025-12-27              False                      0
6 2025-12-28              False                      0
7 2025-12-29               True                      1
8 2025-12-30              False                      0
9 2025-12-31               True                      1